@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    background: rgba(255, 255, 255, .92);
    padding: 0 16px 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 16px #ddd;
    top: 0;
    /* border-bottom: 2px solid #eee; */
}

a {
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #000;
}

.logo {
    font-size: 24px;
    line-height: 64px;
    /* margin-left: 40px; */
    /* margin: 0 auto; */
}

.sp-menu {
    display: none;
    margin-left: auto;
}

#open {
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
}

#open.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

#close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
}

.pc-menu {
    margin-left: auto;
    line-height: 64px;
}

.pc-menu ul {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    align-self: center;
    /* display: none; */
}

.overlay ul {
    margin: 0;
    padding: 0;
}

.overlay li {
    list-style: none;
    margin-top: 32px;
    padding: 0;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
}

.overlay.show li {
    opacity: 1;
    transform: none;
}

.overlay.show li:nth-child(1) {
    transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
    transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
    transition-delay: .3s;
}

.pc-menu li {
    list-style: none;
    padding: 0;
    margin: 0 0 0 40px;
}

li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #000;
}

.pc-menu a:hover {
    opacity: 0.6;
}

.block {
    box-sizing: content-box;
    background: lightblue;
    width: 280px;
    height: 280px;
    margin: 20px auto 0;
    border-radius: 50%;
}

main {
    margin: 80px 0 0;
    padding: 16px 0 0;
}

main div {
    width: 80%;
    margin: 0 auto 40px;
    padding: 8px 0;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 0 16px #ccc;
    /* border: 2px solid #eee; */
}

h1,
p {
    margin: 0;
    padding: 0;
}

footer {
    width: 80%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 0 auto 16px;
    padding: 8px 0 0;
}

small {
    color: #aaa;
}



@media (max-width: 600px) {
    .pc-menu {
        display: none;
    }

    .sp-menu {
        display: inline;
        margin-left: auto;
    }
}
